body {
    font-family: sans-serif;
    background-color:rgb(170, 170, 170);
}

header img{
    width:130px;
    height:100px;
    margin:10px;
}

header{
    background-color:rgb(250, 176, 107);
}

header h1{
    text-align:center;
}

.ret{
    color:rgba(255, 12, 12, 1);
    font-size:25px;
    margin:5px 200px 10px 0px;
}

nav{
    text-align: center;
    margin:10px;
}

nav a{
    font-size:25px;
    border: 2px solid darkcyan;
    background-color:cyan;
    text-decoration:none;
}

p{
    color:rgba(191, 161, 0, 1);
    text-align:center;
    font-size:21px;
}

main{
    background-color:rgba(201, 201, 201, 1);
}

footer{
    background-color:rgba(186, 137, 102, 1);
}

footer p{
    text-align:left;
    margin:40px;
    padding:50px;
    color:rgb(0, 0, 0);
    padding-left:20px;
    font-family:sans-serif;
}

article {
    float:left;
    margin-top:50px;
}

article img { 
    width:270px;
    height:170px;
    border:3px solid brown;
    border-radius:20px;
}


h1 img {
    margin:0px 10px 0px 50px;
}

h1 article {
    float:right;
    margin:0px 100px 10px 0px;
}

main div img {
    width:260px;
    height:230px;
    float:right;
    border:3px solid brown;
    border-radius:20px;
}
